# Set the default readline mode as vi
set editing-mode vi

# Show the vi mode indicators
set show-mode-in-prompt on

# Configures the cmd mode display
set vi-cmd-mode-string [n]\1\e[1 q\2

# # Configures the ins mode display
set vi-ins-mode-string [i]\1\e[5 q\2
